
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem;
}

.logoName a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navlinks {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.navlinks li {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
}

.navlinks a {
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.navlinks a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.navlinks a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: auto; /* Push it to the end inside flex */
}

.menuWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}


@media (max-width: 768px) {
  .navlinks {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 200px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    z-index: 100;
  }

  .showMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .navbar {
    position: relative; 
  }
}
